extends ../layout

block content
	div.col-md-12
		h4 Rules
		div.col-md-6
			table.table
				tr
					th Name
					th Application Id
					th Uri
					th Callback
					th Sensor Type
					th  
					th  
				- each variable,i in rules
					tr
						td #{variable.name}
						td #{variable.app_id}
						td #{variable.uri}										
						td #{variable.callback}										
						td #{variable.sensor_type}
						td
							a(href="/rules/delete/#{variable._id}") Delete						
						td
							a(href="/rules/update/#{variable._id}") Update						

		
block inPageScript
	script.
		
		