extends ../layout

block content
	if user		
		h3 Welcome, #{user.name}	
	hr
	div.col-md-2
		
		h4 Gateways
		ul.list-group
			li.list-group-item
				a(href="/registergateways/add/#{id}") Add
			li.list-group-item
				a(href="/registergateways/view/#{id}") View All
			
		h4 Rules
		ul.list-group
			li.list-group-item
				a(href="/rules/add/#{id}") Add
			li.list-group-item
				a(href="/rules/#{id}") View All

		h4 App Users
		ul.list-group			
			li.list-group-item
				a(href="/applications/#{id}/users") View All
		
block inPageScript
	script.
		