extends ../layout

block content
	div.col-md-12
		h4 View Gateways
		hr
		div.col-md-6
			table.table
				tr
					th Name
					th Owner Id
					th Type
					th Dataset
					th  
				- each variable,i in gateways
					tr
						td #{variable.name}
						td #{variable.owner}
						td #{variable.type}
						td #{JSON.stringify(variable.dataset)}										
						td
							a(href="/registergateways/delete/#{variable._id}") Delete

		
block inPageScript
	script.
		
		